<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/sendmsg" method="POST">
      <p>메세지 보내기</p>
      <textarea name="message" type="text" rows="10" cols="40"></textarea><br />
      <p>
        <input value="전송" type="submit" />
      </p>
    </form>
  </body>
</html>
