<!DOCTYPE html>
<html>
  <head>
    <title>wit ai</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>wit ai 가 보낸 메세지 입니다.</h1>
    <p>오카 : <%= msg %></p>
    <a href="/"> <button>메세지 다시보내기</button></a>
  </body>
</html>
